/***************/
/*** IMPORTS ***/
/***************/

/* prettier-ignore */
@import url(
	'https://fonts.googleapis.com/css?family=Maitree:400,500,600,700&display=swap'
);
/* prettier-ignore */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

/*************/ /*** SETUP ***/ /*************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/*************/
/*** BASE ***/
/*************/

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
	font-family: 'Maitree', serif;
}

p {
	font-size: 1.7rem;
	line-height: 2.4rem;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	max-width: 108.7rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
}

.btn {
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #b20061;
	padding: 1rem 10rem;
	border: none;
	border-radius: 25px;
}

.pageContainer {
	padding-top: 5rem;
}

.pageTitle {
	text-transform: uppercase;
	font-size: 3.8rem;
	font-weight: 800;
	color: #b20061;
	margin-bottom: 5rem;
	text-align: center;
}

.App {
	margin-top: 100px;
}

/**********************/
/*** FOOD CONTAINER ***/
/**********************/

.foodContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

/****************/
/*** FOOD CARD ***/
/****************/

.foodCard {
	width: 31rem;
	height: 14.5rem;
	margin-bottom: 3.5rem;
	display: flex;
	background: #f4f2f9;
	border-radius: 15px;
	padding: 3rem 2rem;
	align-items: center;
	box-shadow: 0 3px 6px rgb(0, 0, 0, 0.1);
	position: relative;
	transform: scale(1);
	transition: all 1s;
}
.foodCard:hover {
	transform: scale(1.2);
}

.foodCard button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 20px 10px 20px;
	font-size: 2.75rem;
}

.foodCard img {
	object-fit: cover;
	display: block;
	height: 8.1rem;
	width: 12rem;
	border-radius: 15px;
}

.cardContent {
	/* padding: 3.5rem 2rem 3rem 2rem; */
	margin-left: 2rem;
}

.cardTitle {
	font-size: 1.6rem;
	font-weight: 500;
	text-transform: capitalize;
}

.cardSubtitle {
	font-size: 1.2rem;
	font-weight: 400;
}

.favCard {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Ania's Begins FoodDetail -----------------> */
button {
	/* height: 50px; */
	font-size: 2rem;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

li {
	font-size: 2rem;
	list-style: none;
}

.detail {
	height: auto;
}

.detailTitle {
	text-transform: capitalize;
}

.col1,
.col2,
.col3,
.row {
	display: inline-block;
}

.col1 {
	width: 45%;
}

.col2 {
	width: 30%;
}

.row {
	width: 90%;
	border-bottom: 2px solid #ffe1f9;
}

.detail {
	display: flex;
	justify-content: space-between;
}

.detailIngredients {
}

.detailOtherIngredients,
.detailMainIngredients,
.detailDescription {
	margin-top: 3%;
}

.detailControl {
	margin-top: 3%;
}

.null {
	color: rgb(158, 155, 155);
}

/* Ania's Ends -----------------> */

/******************/
/*** DELETEICON ***/
/******************/

.detailButtons {
	display: flex;
}

.deleteIcon {
	color: #4a4a4a;
	transform: scale(1);
}

.deleteIcon:hover,
.deleteIcon:focus,
.detailButtons button:hover,
.detailButtons button:focus {
	animation: deleteIcons 1s ease-in-out infinite;
}

/***********/
/*** NAV ***/
/***********/

.navigation {
	background: #f4f2f9;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.activeNav {
	color: #b20061;
}

.navList {
	display: flex;
}

.navItem {
	list-style: none;
	color: #748a9d;
	font-size: 2.75rem;
	transition: all 0.5s;
}

.navItem:hover,
.navItem:focus {
	color: #b20061;
}

.navLogo {
	height: 4rem;
}

.navLogo img {
	height: 100%;
}

.navItem:not(:last-child) {
	margin-right: 5.5rem;
}

.navContainer {
	padding: 3rem 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/***********/
/*** SEARCH ***/
/***********/

#search {
	padding: 2rem 4rem;
	width: 60%;
	background: #f4f2f9;
	border: none;
	border-radius: 1.5rem;
	margin-bottom: 2.5rem;
	font-size: 1.5rem;
	box-shadow: 0 3px 6px rgb(0, 0, 0, 0.1);
	text-align: center;
}

.searchBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.searchBar .input {
	width: 100%;
}

.toggleBtns {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

.toggle {
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #b20061;
	padding: 1rem 4.3rem;
	border: none;
	border-radius: 25px;
}

.toggle:focus {
	border: solid 2px #350482;
}

.toggleBranded {
	border-radius: 0 36px 36px 0;
	background: #d8d8d8;
	transition: all 0.5s;
}

.toggleBranded:hover {
	background: #350482;
}

.toggleCommon {
	border-radius: 36px 0 0 36px;
	background: #d8d8d8;
	transition: all 0.5s;
}

.toggleCommon:hover {
	background: #350482;
}

.toggleActive {
	background: #b20061;
	transition: all 0.5s;
}

.toggleActive:hover {
	background: #350482;
}

/**************/
/*** NO RESULTS ***/
/**************/

.noResults {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.noResults img {
	width: 35%;
	margin: 0 auto 2rem auto;
}

/**************/
/*** DETAIL ***/
/**************/

.detailContainer {
	padding: 5rem 0;
}

.detailContainer .spinner {
	font-size: 4rem;
	transform: rotate(0deg);
	animation: spinner 3s linear infinite;
	color: #350482;
}

.detailContainer .wrapper {
	flex-direction: column-reverse;
	align-items: center;
}

.detailControl button {
	margin: 0 30px;
	color: #4a4a4a;
	transform: scale(1);
}

.detailControl button:hover,
.detailControl button:focus {
	animation: addButtons 1s ease-in-out infinite;
}

.detailControl button:active {
	transform: scale(1.3);
	color: #b20061;
}

.detailContent {
	width: 100%;
	background: #f4f2f9;
	padding: 4rem;
	border-radius: 25px;
}

.detailIntro {
	display: flex;
	margin-bottom: 3rem;
	justify-content: space-between;
}

.introLeft {
	display: flex;
	width: 90%;
}

.detailDesc {
	margin-left: 3rem;
}

.detailImgContainer {
	width: 35%;
}

.detailContainer h1 {
	font-size: 3rem;
	color: #b20061;
}

.detailContainer h2 {
	font-size: 2rem;
	color: #350482;
	font-weight: 600;
}

.detailImg {
	height: 175px;
	width: 175px;
}

.detailImg img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 25px;
}

.detailNutrition h2 {
	margin-bottom: 1rem;
}

.detailButtons button svg {
	font-size: 2.75rem;
}

.detailButtons button {
	color: #748a9d;
}

.detailButtons button:not(:last-child) {
	margin-right: 2rem;
}

.detailNutritionFacts {
	display: flex;
	justify-content: space-between;
}

.nutrientList {
	width: 40%;
}

.nutrientName {
	font-weight: 500;
}

.nutrient {
	display: flex;
	justify-content: space-between;
}

/* COMPARE PAGE STYLES */

.comparisonCard img {
	display: block;
	width: 100%;
	height: 100%;
}

/* .comparisonCard .imageContainer {
  width: 50%;
  height: 60%;
  margin: 0 auto;
} */

.comparisonContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.comparisonCard {
	width: 32%;
	padding: 3.8rem 3rem 3rem 3rem;
	background: #f4f2f9;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.comparisonCard button {
	text-align: center;
	font-size: 2.75rem;
	position: absolute;
	top: 4px;
	right: 14px;
}

.imageContainer {
	margin-bottom: 2rem;
}

.comparisonCard img {
	display: block;
	width: 100%;
	height: 25rem;
	object-fit: cover;
	border-radius: 25px;
}

.comparisonCard:not(:last-child) {
	margin-right: calc(8% / 2);
}

.comparisonPage h1 {
	color: #b20061;
	padding-top: 50px;
	font-size: 3rem;
}

.comparisonCard h3 {
	color: #b20061;
	text-transform: capitalize;
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	min-height: 10vh;
}

.comparisonCard h4 {
	font-size: 1.75rem;
	font-weight: 500;
	color: #350482;
	margin-bottom: 0.5rem;
}

.comparisonCard ul:not(:last-child) {
	margin-bottom: 1rem;
}

.comparisonCard .nutrient {
	font-size: 1.5rem;
}

/* Toaster */

.toasterContainer {
	max-width: 500px;
	top: 110px;
	transition: transform 1s;
	z-index: 3;
	left: 0;
	right: 0;
	margin: auto;
	position: fixed;
}

.toasterContainer.hide {
	transform: scale(0);
}

.toasterContainer.show {
	transform: scale(1);
}

.toaster {
	padding: 2rem;

	border-radius: 15px;
}

.toaster.success {
	background-color: #350482;
	color: white;
}

.toaster.failed {
	background-color: #b20061;
	color: white;
}
/******************/
/*** KEY FRAMES ***/
/******************/

@keyframes deleteIcons {
	0% {
		transform: scale(1);
		color: #4a4a4a;
	}
	50% {
		transform: scale(1.9);
		color: #b20061;
	}
	100% {
		transform: scale(1);
		color: #4a4a4a;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/******************/
/*** ACCESSIBILTY ***/
/******************/
.foodCardLink:focus .foodCard,
.favourite.foodCard:focus-within,
.comparisonCard button:focus,
.home input#search:focus {
	border: solid 2px #350482;
}

.favouriteCardLink:focus img {
	transform: scale(1.3);
}

.favouriteCardLink:focus {
	outline: none;
}

.foodCard button:focus .deleteIcon {
	transform: scale(1.3);
	color: #b20061;
}
.foodCardLink:focus {
	outline: none;
}

.comparisonCard button:focus {
	border: solid 2px #350482;
}

.home input#search:focus {
	border: solid 2px #350482;
}

/* filtering */

.pageFilter {
	height: 50px;
}

.pageFilter input {
	height: 100%;
}

@media only screen and (max-width: 800px) {
	.comparisonContainer {
		flex-direction: column;
	}
	.comparisonCard {
		width: 100%;
	}

	.comparisonCard:not(:last-child) {
		margin-bottom: 3rem;
	}
}

@media only screen and (max-width: 530px) {
	.introLeft {
		flex-direction: column;
	}

	.detailDesc {
		margin: 0;
	}

	.detailButtons {
		flex-direction: column;
	}

	.detailButtons button:not(:last-child) {
		margin: 0 0 1rem 0;
	}

	.detailNutritionFacts {
		flex-direction: column;
	}

	.nutrientList {
		width: 100%;
	}
}

@media only screen and (max-width: 425px) {
	#search {
		width: 23rem;
	}

	.navItem {
		font-size: 2rem;
	}
}
