body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION STYLES */

.nav-icon {
  color: slategray;
  font-size: 1.5rem;
}

.logo-icon {
  color: #b20061;
  font-size: 2rem;
}

.navigation {
  background: lightgray;
}

.nav {
  list-style: none;
}

.nav-bar {
  padding: 30px 15px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}