body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* COMPARE PAGE STYLES */

.comparisonCard img {
  display: block;
  width: 100%;
  height: 100%;
}

/* .comparisonCard .imageContainer {
  width: 50%;
  height: 60%;
  margin: 0 auto;
} */

.comparisonContainer {
  display: flex;
}

.comparisonCard {
  width: 50%;
  margin: 0 20px;
  padding: 40px;
  /* text-align: center; */
}

.comparisonPage h1 {
  color:#b20061;
  padding-top: 50px;
  font-size: 3rem;
}

.comparisonCard h3 {
  color:#b20061;
  text-transform: capitalize;
  font-size: 2rem;
}